.marginTop {
	margin-top: 50px;
}

#footer {
	margin-top: 100px;
	/*background-color: black;*/
}

footer {
	padding-top: 20px;
	padding-bottom: 200px;
	float: right;
	/*color: white;*/
}

#addMusicForm textarea { 
	resize: vertical; 
}

.linktoP {
	color: white;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  opacity: 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#home {
	background-image: url("background.jpg");
	/*color: gray;*/
}

#emptyAlertI {
	color: white;
}









