.marginTop {
	margin-top: 50px;
}

#footer {
	margin-top: 100px;
	/*background-color: black;*/
}

footer {
	padding-top: 20px;
	padding-bottom: 200px;
	float: right;
	/*color: white;*/
}

#addMusicForm textarea { 
	resize: vertical; 
}

